/*--------------------------------------------------------------
	Common
--------------------------------------------------------------*/
html {
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: scrollbar;
}

body {
  background: #fff;
  font: 400 12px/1.8 "Open Sans", sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
}


/* Transition elsements */
a,
.btn {
  transition: all 0.125s ease-in-out 0s;
}

.gallery-caption,
.gallery-image:after,
.gallery-image img,
.work-caption,
.work-image > img,
.work-image:after {
  transition: all 0.3s ease-in-out 0s;
}

.main {
  margin-top: 50px;
}

.main {
  position: relative;
  background-color: #fff;
  z-index: 1;
}

.module {
  position: relative;
  padding: 140px 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}


.pb-0 {
  padding-bottom: 0 !important;
}

/*--------------------------------------------------------------
	Typography
--------------------------------------------------------------*/
a {
  color: #111;
}

a:hover, a:focus {
  text-decoration: none;
  color: #aaa;
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  font-weight: 400;
}


.font-alt {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.font-serif {
  font-family: Volkhov, "Times New Roman", sans-serif;
  font-style: italic;
}

.large-text {
  font-size: 24px !important;
}

.rotate {
  text-shadow: none !important;
}

.module-title {
  position: relative;
  letter-spacing: 4px;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  color: #111;
  margin: 0 0 70px;
}

.module-subtitle {
  text-align: center;
  font-size: 16px;
  color: #111;
  margin-bottom: 70px;
}

.module-icon {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.module-title + .module-subtitle {
  margin-top: -35px;
}

/* Restaurant module header */
.alt-module-subtitle {
  display: table;
}

.alt-module-subtitle h5 {
  display: table-cell;
  white-space: pre;
  padding: 0 8px;
  color: #111;
}




/*--------------------------------------------------------------
	Portfolio
--------------------------------------------------------------*/
/* Portfolio filter */
.filter {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0 0 70px;
}

.filter > li {
  display: inline-block;
  padding: 0 0 10px;
  margin: 0 25px;
}

/* Portfolio grid */
.works-grid {
  list-style: none;
  padding: 0;
  margin: 0;
}

.works-grid.works-grid-gut {
  margin: 0 0 0 -10px;
}

.works-grid.works-grid-gut .work-item {
  padding: 0 0 10px 10px;
}

.work-item {
  width: 50%;
  float: left;
  margin: 0;
}

.works-grid-3 .work-item {
  width: 33.3333%;
}

.container .works-grid-3 .work-item {
  width: 33.2%;
}

.works-grid-4 .work-item {
  width: 25%;
}

.works-grid-5 .work-item {
  width: 20%;
}

.work-item > a {
  position: relative;
  display: block;
  overflow: hidden;
}

.work-image {
  position: relative;
  overflow: hidden;
}

.work-image img {
  display: block;
  overflow: hidden;
  width: 100%;
}

.work-image:after {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.work-caption {
  width: 100%;
  padding: 0 20px;
  opacity: 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  text-align: center;
  overflow: hidden;
}

.work-title {
  font-size: 14px;
  color: #fff;
  margin: 0 0 6px;
}

.work-descr {
  color: #aaa;
}

.work-item:hover .work-image:after {
  background: rgba(0, 0, 0, 0.6);
}

.work-item:hover .work-image > img {
  -webkit-transform: scale(1.1) rotate(2deg);
  -ms-transform: scale(1.1) rotate(2deg);
  transform: scale(1.1) rotate(2deg);
}

.work-item:hover .work-caption {
  bottom: 50%;
  opacity: 1;
  z-index: 3;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

/* Work item white background*/
.works-grid.works-hover-w .work-title {
  color: #111;
}

.works-grid.works-hover-w .work-item:hover .work-image:after {
  background: rgba(255, 255, 255, 0.8);
}

/* Work item gradien background*/
.works-grid.works-hover-g .work-image:after {
  opacity: 0;
}

.works-grid.works-hover-g .work-descr {
  color: #fff;
}

.works-grid.works-hover-g .work-item:hover .work-image:after {
  background: #6fe29e;
  background: linear-gradient(135deg, rgba(111, 226, 158, 0.8) 0%, rgba(91, 218, 209, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fe29e', endColorstr='#5bdad1',GradientType=1 );
  opacity: 1;
}

.sliding-portfolio .work-item {
  width: 100%;
}

/*--------------------------------------------------------------
	Single Portfolio
--------------------------------------------------------------*/
.work-details {
  margin: 0 0 20px;
}

.work-details-title {
  color: #111;
  margin: 0 0 20px;
}

.work-details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.work-details ul > li {
  border-bottom: 1px dotted #c2c2c2;
  padding: 0 0 5px;
  margin: 0 0 5px;
}