<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Carrusel Circular Infinito</title>
<link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="contenedor-carrusel">
<div id="carrusel" class="carrusel">
  <img src="img1.png" class="imagen" alt="Imagen 1">
  <img src="img2.png" class="imagen" alt="Imagen 2">
  <img src="img3.png" class="imagen" alt="Imagen 3">
  <img src="img4.png" class="imagen" alt="Imagen 4">
  <img src="img5.png" class="imagen" alt="Imagen 5">
  
  <img src="img1.png" class="imagen" alt="Imagen 1">
  <img src="img2.png" class="imagen" alt="Imagen 2">
  <img src="img3.png" class="imagen activa" alt="Imagen 3">
  <img src="img4.png" class="imagen" alt="Imagen 4">
  <img src="img5.png" class="imagen" alt="Imagen 5">
  
  <img src="img1.png" class="imagen" alt="Imagen 1">
  <img src="img2.png" class="imagen" alt="Imagen 2">
  <img src="img3.png" class="imagen" alt="Imagen 3">
  <img src="img4.png" class="imagen" alt="Imagen 4">
  <img src="img5.png" class="imagen" alt="Imagen 5">
  

</div>
<button id="prev" class="carousel-button carousel-button-prev">&lt;</button>
<button id="next" class="carousel-button carousel-button-next">&gt;</button>
</div>
<script src="scripts.js"></script>
</body>
</html>

